@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.cardTitle{
  @apply sm:text-2xl text-xl font-bold mb-2 hidden sm:block;
}
.filterBtn{
  @apply my-1 text-black-500 rounded-md shadow-md hover:shadow-inner bg-red-50 py-2;
}

#root {
  font-family: "Noto Sans", sans-serif;
}

.slick-active {
  outline: none;
}

.slick-prev,
.slick-next {
  display: none !important;
}
.slick-slide > div {
  margin: 0 10px;
}
.slick-list > div {
  margin: 0 -10px;
}
